[Unit]
Description=Whiteboard Recorder Frontend Dev Server
After=network.target

[Service]
WorkingDirectory=/home/USERNAME/whiteboard-recorder/frontend
ExecStart=/usr/bin/screen -dmS whiteboard-recorder-frontend /home/USERNAME/whiteboard-recorder/frontend/start.sh
Type=forking

[Install]
WantedBy=multi-user.target
